<turbo-frame id="message_1">
    <span><%= @encoded_string %> <span>
     <form action="/decoder/show">
      <input name="message[name]" type="text" value="My message title">
      <input type="submit">
    </form>
  </turbo-frame>
